.formFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-end;
}

.formFooter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .formFooter {
    display: none;
  }
}
