.form {
  --form-padding: 20px;
  position: absolute;
  max-width: 940px;
  background-color: white;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: var(--form-padding);
  border-radius: 10px;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px calc(40px - var(--form-padding) + 30px) 20px 40px;
  width: 100%;
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 40px 0;
}

.form__options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .form {
    flex-direction: column;
    position: relative;
    transform: none;
    background: none;
    padding: 0 10px;
    min-height: auto;
  }
  .form__container {
    background-color: white;
    margin: 80px auto 100px 0;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
  }

  .form__stepTitle {
    font-size: 2rem;
  }
}
