.form {
  position: absolute;
  max-width: 940px;
  background-color: white;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 10px;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
