@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/ubuntu-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-display: optional;
  font-style: normal;
}

:root {
  --site-bg: #eef5ff;
  --primary-color: #032958;
  --light-primary-color: hsl(243, 100%, 62%);
  --muted-text-color: #9c9da1;
  --muted-bg-color: #f8f9fe;
  --error-color: hsl(354, 84%, 57%);
  --border-color: hsl(231, 11%, 63%);
  --border-color-active: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-size: 1.1rem;
  color: hsl(231, 11%, 63%);
  font-weight: 400;
}

body {
  background-color: var(--site-bg);
}

input,
button {
  font-family: inherit;
  font-size: 1rem;
}
